apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-ocr-batch
  namespace: model-serving
spec:
  template:
    spec:
      containers:
        - name: worker-ocr-batch
          resources:
            requests:
              cpu: "2"
              memory: 4Gi
            limits:
              cpu: "8"
              memory: 16Gi
