apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-ocr-batch
  namespace: model-serving
spec:
  template:
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: worker-ocr-batch
                topologyKey: kubernetes.io/hostname
