apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: worker-ocr-batch
  namespace: model-serving
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: worker-ocr-batch
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
