# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.eggs/

# Environment
.env
.env.local
.env.example


# IDE
.idea/
.vscode/
*.swp
*.swo

# Build / deploy
dist/
*.log

# OS
.DS_Store
Thumbs.db
