apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: model-serving
spec:
  template:
    spec:
      containers:
        - name: api
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-ocr
  namespace: model-serving
spec:
  template:
    spec:
      containers:
        - name: worker-ocr
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: "2"
              memory: 2Gi
