# Requires Prometheus Operator CRD
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: api
  namespace: model-serving
spec:
  selector:
    matchLabels:
      app: api
  endpoints:
    - port: http
      path: /metrics
