apiVersion: apps/v1
kind: Deployment
metadata:
  name: writer
  namespace: model-serving
  labels:
    app: writer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: writer
  template:
    metadata:
      labels:
        app: writer
    spec:
      containers:
        - name: writer
          image: model-serving-writer:latest
          envFrom:
            - configMapRef:
                name: writer-config
            - secretRef:
                name: model-serving-secret
                optional: true
