apiVersion: apps/v1
kind: Deployment
metadata:
  name: writer
  namespace: model-serving
spec:
  template:
    spec:
      containers:
        - name: writer
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
